<h1>Notes#new</h1>
<p>Find me in app/views/notes/new.html.erb</p>
<%= form_for(@note) do |f| %>


   <%= f.label :image %>
   <%= image_tag @note.image.thumb.url if @note.image? %>
　 <%= f.file_field :image %>
   <%= f.hidden_field :image_cache %>

<% end %>
<%= link_to "ノート一覧へもどる", notes_path %>
