  <p><strong>タイトル</strong></p>
  <p><%= @note.title %></p>
  <p><strong>内容</strong></p>
  <p style="<%= @note_text.note_text_style %> border:1px solid #ccc;"><%= @note_text.text %></p>
  <p>
    <%= @note.created_at.strftime("%y/%m/%d %p %l:%M") %>
  </p>
  <script>
  console.log("a");
  console.log("<%= @note_text.note_text_style %>");
  </script>
<% if @note.image? %>
　<%= image_tag @note.image.thumb.url %>
<% else %>
<% end %>
<%= link_to "ノートを作成する", new_note_path %>
<%= link_to "ノート一覧へもどる", notes_path %>
