<h1>ユーザー&nbsp;一覧</h1>
<div class="main__body">
  <% @users.each do |user| %>
  <article class="user-column">
      <p><%= user.name %></p>
      <p><%= user.email %></p>
    <%= link_to "ユーザー詳細", user_path(user.id) %>
  </article>
  <% end %>
</div>
<%= link_to "辞書一覧へ", dictionalies_path %>
<%= link_to "ノート一覧へ", users_path %>
